@use 'variables'

@mixin reset
  margin: 0
  padding: 0
  box-sizing: border-box

@mixin bgRight
  background-repeat: no-repeat
  background-position-x: right

*
  @include reset

html
  font-size: 16px
  font-family: 'Rubik'
  background: variables.$veryDarkBlue
  color: white

main
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
  grid-template-areas: "pr" "w" "pl" "s" "p" "e" "so" "sl"

.profile
  grid-area: 'pr'
  margin: 1rem auto
  width: 90vw
  border-radius: 23px

  .profile-avatar
    display: flex
    background: variables.$blue
    padding: 1.5rem
    border-radius: 23px
    align-items: center

    .name
      display: block
      text-align: left

      p
        color: variables.$paleBlue

    img
      width: 5em
      height: auto
      border: 2px solid white
      border-radius: 100%
      margin-right: 1rem

  .stats
    display: flex
    flex-direction: column
    border-radius: 23px
    background: variables.$darkBlue
    font-size: 1rem
    text-align: center

    h1
      font-family: 'Rubik'
      font-size: 1.1em
      font-weight: 300

    button
      font-size: 1.2rem
      justify-content: space-evenly
      padding: 1.5rem
      background: none
      border: none
      cursor: pointer
      text-decoration: none
      margin: auto
      color: variables.$paleBlue
      transition: 500ms ease

    button:hover
      color: white
      transition: 500ms ease

  .calendar
    display: flex

.cards
  display: flex
  flex-direction: column-reverse
  width: 90vw
  height: 11rem
  border-radius: 23px
  margin: 0.5rem auto

  .title-card
    & h2, h1
      padding: 0.5rem 0

  .bg-card
    display: flex
    border-radius: 23px
    background: variables.$darkBlue
    justify-content: space-between
    padding: 1.5em 0

    & h1, h2, p
      margin: 0 1.5rem

      a
        color: variables.$paleBlue
        text-decoration: none
        transition: 500ms ease
        &:hover
          color: white
          transition: 500ms ease

  .expansion
    text-align: right

    h1,p
      margin: 0.8rem

.work
  grid-area: w
  background: variables.$lightRedWork
  background-image: url('../images/icon-work.svg')
  @include bgRight
.play
  grid-area: pl
  background: variables.$softBluePlay
  background-image: url('../images/icon-play.svg')
  @include bgRight
.study
  grid-area: s
  background: variables.$lightRedStudy
  background-image: url('../images/icon-study.svg')
  @include bgRight
.exercise
  grid-area: e
  background: variables.$limeGreenExercise
  background-image: url('../images/icon-exercise.svg')
  @include bgRight
.social
  grid-area: so
  background: variables.$violetSocial
  background-image: url('../images/icon-social.svg')
  @include bgRight
.selfCare
  grid-area: sl
  background: variables.$softOrangeSelfCare
  background-image: url('../images/icon-self-care.svg')
  @include bgRight

@media(min-width: 1070px)
  .container
    display: grid
    place-content: center
    width: 95%
    height: 82vh
    margin: auto
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr
    grid-template-areas: "pr w pl s" "pr e so sl"
    place-content: center

    .profile
      grid-area: pr
      margin: 2rem 0.5rem
      width: 20vw

      .profile-avatar
        display: block
        text-align: left
        .name
          p
            padding: 1rem 0 0.5rem 0
          h1
            padding: 0 0 3rem 1rem
            font-size: 2em

      .calendar
        display: grid
        width: fit-content
        text-align: left
        margin: 2rem 1rem
        button
          padding: 1rem

    .cards
      margin: 2rem 0.5rem 0.5rem auto
      width: 20vw
      height: 50vh
      .bg-card
        .title-card
          h1
            margin-bottom: 3rem
            font-size: 2.5rem
            font-weight: 300
          h2
            font-size: 1.2rem
        .expansion

          & h1
            position: relative
            width: fit-content

          & p
            position: relative
            margin: auto 0
            text-align: center
            font-size: 0.9rem
            top: 4rem
            right: 4.5rem

    .work
      grid-area: w
      height: 35vh
    .play
      grid-area: pl
      height: 35vh
    .study
      grid-area: s
      height: 35vh

    .exercise
      grid-area: e
      height: 35vh
    .social
      grid-area: so
      height: 35vh
    .selfCare
      grid-area: sl
      height: 35vh

footer
  margin: 2rem 0 2rem 0
  text-align: center
  a
    color: variables.$paleBlue
    padding: 1rem
    margin: 1rem 0
    text-decoration: none
    &:hover
      color: variables.$limeGreenExercise
  #logo
    margin: 1rem 0
    font-family: ''Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
    font-size: 1rem
    text-decoration: none
    color: white

    span
      border: 2px solid #8edd0f
      font-size: 1.2rem
      font-weight: bold
      padding: 0.5rem

      &:hover
        color: variables.$lightRedWork
